<template>
  <div id="dataGrl">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fd">FOLIO DGIFE</label>
          <input type="text" class="form-control" name="fd" v-model="register.FOLIO_DGIFE" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="oficio">No. OFICIO</label>
          <input type="text" class="form-control" name="oficio" v-model="register.NO_OFICIO" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="rem">REMITENTE</label>
          <select class="form-control" name="remitente" v-model="register.REMITENTE_id">
            <option value="0">Selecciona remitente</option>
            <option v-for="elem in remitentes" :key="elem.key" :value="elem.id">{{elem.description}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="cargo">CARGO</label>
          <input type="text" class="form-control" name="cargo" v-model="register.CARGO" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="asunto">ASUNTO</label>
          <input type="text" class="form-control" name="asunto" v-model="register.ASUNTO" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="feO">FECHA DE OFICIO</label>
          <input type="text" class="form-control" name="feO" v-model="register.FECHA_OFICIO" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="obs">OBSERVACIONES</label>
          <input type="text" class="form-control" name="obs" v-model="register.OBSERVACIONES" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="feR">FECHA DE RECEPCION</label>
          <input type="text" class="form-control" name="feR" v-model="register.FECHA_RECEPCION" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="estatus">ESTATUS</label>
          <input type="text" class="form-control" name="estatus" v-model="register.ESTATUS" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="res">RESPONSABLE DE ATENDER</label>
          <input type="text" class="form-control" name="res" v-model="register.RESPONSABLE" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="turno">TURNADO DE LA DIRECCION</label>
          <input type="text" class="form-control" name="turno" v-model="register.TURNADO" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="crp">CARPETA</label>
          <input type="text" class="form-control" name="crp" v-model="register.CARPETA" />
        </div>
      </div>
      <div>
        <Data ref="data" :registers="correData" />
        <button type="button" class="btn btn-success" @click="register">Guardar</button>
      </div>
    </div>
  </div>
</template>


<script>
const CorreForm = () => ({
  FOLIO_DGIFE: "",
  NO_OFICIO: "",
  REMITENTE: "",
  CARGO: "",
  ASUNTO: "",
  FECHA_OFICIO: null,
  OBSERVACIONES: "",
  FECHA_RECEPCION: null,
  ESTATUS: "",
  RESPONSABLE: "",
  TURNADO: "",
  CARPETA: ""
});
export default {
  FOLIO_DGIFE: "",
  name: "",
  props: ["registers", "correData", "optionSave"],

  data: () => ({
    register: CorreForm()
  }),

  methods: {
    saveData() {
      window.axios.post("/corresp", this.register).then(resp => {
        this.register = CorreForm();
      });
    },
    register() {
      if (this.optionSave == 1) {
        this.$refs.data.saveData();
      } else if (this.optionSave == 2) {
        this.$refs.data.updateData();
      }
      this.$emit("refreshList");
    },
    updateData() {
      window.axios.put("/corresp", this.register).then(resp => {
        this.register = CorreForm();
      });
    }
  },
  watch: {
    registers: function(newQuestion) {
      this.registers
        ? (this.register = this.registers)
        : (this.register = CorreForm());
    }
  }
};
</script>
<style lang="scss" scoped>
</style>