<template>
  <div>
    <button class="btn btn-primary" @click.prevent="newRegister">Nuevo Registro</button>
    <register @refreshList="getRegisters" :correData="register" :optionSave="option" />
    <div class="table-responsive">
      <h1>Registros</h1>
      <table class="table table-striped table-bordered table-xm" WIDTH="50%">
        <thead>
          <tr>
            <th>FOLIO DGIFE</th>
            <th>NO. OFICIO</th>
            <th>REMITENTE</th>
            <th>CARGO</th>
            <th>ASUNTO</th>
            <th>FECHA DE OFICIO</th>
            <th>OBSERVACIONES</th>
            <th>FECHA DE RECEPCION</th>
            <th>ESTATUS</th>
            <th>RESPONSABLE DE ATENDER</th>
            <th>TURNADO A LA DIRECCION</th>
            <th>CARPETA</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(c,index) in registers" :key="index">
            <td>{{c.FOLIO_DGIFE}}</td>
            <td>{{c.NO_OFICIO}}</td>
            <td>{{c.REMITENTE}}</td>
            <td>{{c.CARGO}}</td>
            <td>{{c.ASUNTO}}</td>
            <td>{{c.FECHA_OFICIO}}</td>
            <td>{{c.OBSERVACIONES}}</td>
            <td>{{c.FECHA_RECEPCION}}</td>
            <td>{{c.ESTATUS}}</td>
            <td>{{c.RESPONSABLE}}</td>
            <td>{{c.TURNADO}}</td>
            <td>{{c.CARPETA}}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm" @click="edit(c)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm" @click.prevent="del(c)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

export default {
  components: {
    list: () => import("./Register")
  },
  data() {
    return {
      registers: [],
      register: null,
      option: 1
    };
  },
  mounted() {
    this.getRegisters();
  },
  methods: {
    getRegisters: function() {
      window.axios.get("/corresp").then(resp => {
        this.registers = resp.data;
      });
    },
    newRegister: function() {
      this.register = null;
      this.option = 1;
    },
    edit: function(c) {
      this.register = c;
      this.option = 2;
    },
    del: function(c) {
      window.axios.delete(`/corresp/${c.FOLIO_DGIFE}`).then(resp => {
        this.getRegisters();
      });
    }
  }
};
</script>